.outermost-div {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 10, 21, 0.954);
}
.header-div {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    margin: 0;
}
h3{
    color: white;
    font-size: 25px;
    font-family: monospace;
}

.second-div {
    width: 100%;
    height: 500px;
    background-image: url(./img/1.png);
    position: relative;
    top: 0;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 0;
    margin: 0;
    padding: 0;
}
p {
    z-index: 1;
    color: black;
}
.third-div {
    width: 100%;
    height: 500px;
    position: relative;
    top: 0;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(138, 28, 106, 0.7), rgba(220,150,200,0.7)), url("./img/2.jpg");
}
.fourth-div {
    width: 100%;
    height: 500px;
    background-image: url(./img/3.jpg);
    position: relative;
    top: 0;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(28, 107, 138, 0.7), rgba(90, 230, 148, 0.7));
}
.five-div {
    width: 100%;
    height: 500px;
    background-image: url(./img/4.jpg);
    position: relative;
    top: 0;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(186, 17, 238, 0.7), rgba(243, 50, 50, 0.7));
}


.seven-div {
    width: 100%;
    height: 500px;
    background-image: url(./img/6.jpg);
    position: relative;
    top: 0;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.content {
    transform: skewY(5deg);
    position: absolute;
    top: 150px;
}
.second-content-div {
    height: 250px;
    width: 50%;
    position: relative;
    margin: auto;
}
.second-header {
    transform: skewY(5deg);
    position: absolute;
    margin-top: 105px;
}
.final-div {
    width: 100%;
    height: 500px;
    background-color: #ADADAC;
    position: absolute;
    z-index: -1;
}
.final-div1 {
    width: 900px;
    float: left;
    margin-left: 50px;
    margin-top: 170px;
}
.final-div2 {
    float: left;
    width: 300px;
    margin-left: 98px;
    margin-top: 170px;
}
.outermost-div {
    border:2px solid #000;
    outline: 1px dashed #fff;
    outline-offset: -40px;
}
